/* Configuración General */
* { margin: 0; padding: 0; box-sizing: border-box; font-family: 'Poppins', sans-serif; }
body { background-color: #0a0a0a; color: #fff; scroll-behavior: smooth; }

/* Barra de Navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #d4af3733;
}

.logo { display: flex; align-items: center; font-weight: bold; font-size: 1.2rem; color: #d4af37; letter-spacing: 2px; }
.logo-img { height: 35px; margin-right: 10px; border-radius: 5px; }

.nav-links { display: flex; list-style: none; }
.nav-links li { margin-left: 20px; }
.nav-links a { color: #fff; text-decoration: none; font-size: 0.9rem; transition: 0.3s; }
.nav-links a:hover { color: #d4af37; }

/* Portada (Hero Section) */
.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: radial-gradient(circle, #1a1a1a 0%, #000 100%);
    padding: 0 20px;
}

.hero h1 { font-size: 3rem; color: #d4af37; text-transform: uppercase; letter-spacing: 5px; margin-bottom: 10px; }
.hero p { font-size: 1.2rem; color: #ccc; margin-bottom: 30px; }

.btn-main {
    padding: 12px 30px;
    background: #d4af37;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    transition: 0.4s;
    text-transform: uppercase;
}
.btn-main:hover { background: #fff; transform: scale(1.05); }

/* Sección Productos */
.productos { padding: 80px 5%; text-align: center; }
.productos h2 { color: #d4af37; margin-bottom: 40px; font-size: 2rem; }

.grid-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.card {
    background: #111;
    padding: 20px;
    border: 1px solid #222;
    border-radius: 15px;
    transition: 0.3s;
}
.card:hover { border-color: #d4af37; transform: translateY(-5px); }
.card img { width: 100%; border-radius: 10px; margin-bottom: 15px; }
.card h3 { color: #fff; margin-bottom: 10px; }
.card p { color: #d4af37; font-weight: bold; font-size: 1.2rem; }

/* Estilo de los Precios y Botones */
.precio {
    display: block;
    font-size: 1.6rem;
    color: #D4AF37; /* Dorado GeoVentas */
    font-weight: bold;
    margin: 10px 0;
}

.btn-buy {
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #D4AF37;
    color: #D4AF37;
    text-decoration: none;
    border-radius: 50px;
    font-size: 0.8rem;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn-buy:hover {
    background: #D4AF37;
    color: #000;
}

/* Ajuste de imágenes para que no se deformen */
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover; /* Esto hace que la foto se vea bien siempre */
    border-radius: 10px;
}
